In [1]:
import argparse
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [3]:
train_data = pd.read_csv("../input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("../input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
gender_data = pd.read_csv("../input/titanic/gender_submission.csv")
gender_data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
y = train_data["Survived"]

In [8]:
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [15]:
model = RandomForestClassifier(n_estimators=100, max_depth=3, random_state=2)
model.fit(X, y)
predictions = model.predict(X_test)

In [29]:
pd.concat([test_data['PassengerId']])

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [44]:
result=pd.DataFrame(np.array([test_data['PassengerId'], predictions]).T, columns=['PassengerId','Survived'])

In [47]:
result.to_csv('result.csv',index=False)

In [48]:
!head result.csv

PassengerId,Survived
892,0
893,1
894,0
895,0
896,1
897,0
898,1
899,0
900,1

In [16]:
! python3 -m pip install --user jupyter-lsp

Requirement already satisfied: jupyter-lsp in /home/2/18B17230/.local/lib/python3.6/site-packages (1.1.4)
Requirement already satisfied: jupyter-server>=1.1.2 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-lsp) (1.4.1)
Requirement already satisfied: entrypoints in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-lsp) (0.3)
Requirement already satisfied: nbformat in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (5.1.2)
Requirement already satisfied: Send2Trash in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (1.5.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (4.7.1)
Requirement already satisfied: jupyter-client>=6.1.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (6.1.11)
Requirement already satisfied: tornado>=6.1.0 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (6.1)
Requirement already satisfied: nbconvert in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (6.0.7)
Requirement already satisfied: pyzmq>=17 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (22.0.3)
Requirement already satisfied: ipython-genutils in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (0.2.0)
Requirement already satisfied: jinja2 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (2.11.3)
Requirement already satisfied: anyio>=2.0.2 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (2.1.0)
Requirement already satisfied: prometheus-client in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (0.9.0)
Requirement already satisfied: terminado>=0.8.3 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (0.9.2)
Requirement already satisfied: traitlets>=4.2.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-server>=1.1.2->jupyter-lsp) (4.3.3)
Requirement already satisfied: idna>=2.8 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (2.10)
Requirement already satisfied: typing-extensions in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (3.7.4.3)
Requirement already satisfied: async-generator in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (1.10)
Requirement already satisfied: sniffio>=1.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (1.2.0)
Requirement already satisfied: dataclasses in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (0.8)
Requirement already satisfied: python-dateutil>=2.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jupyter-client>=6.1.1->jupyter-server>=1.1.2->jupyter-lsp) (2.8.1)
Requirement already satisfied: six>=1.5 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from python-dateutil>=2.1->jupyter-client>=6.1.1->jupyter-server>=1.1.2->jupyter-lsp) (1.15.0)
Requirement already satisfied: contextvars>=2.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from sniffio>=1.1->anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (2.4)
Requirement already satisfied: immutables>=0.9 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from contextvars>=2.1->sniffio>=1.1->anyio>=2.0.2->jupyter-server>=1.1.2->jupyter-lsp) (0.15)
Requirement already satisfied: ptyprocess in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from terminado>=0.8.3->jupyter-server>=1.1.2->jupyter-lsp) (0.7.0)
Requirement already satisfied: decorator in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from traitlets>=4.2.1->jupyter-server>=1.1.2->jupyter-lsp) (4.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jinja2->jupyter-server>=1.1.2->jupyter-lsp) (1.1.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (0.5.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (0.8.4)
Requirement already satisfied: testpath in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (1.4.3)
Requirement already satisfied: bleach in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (3.3.0)
Requirement already satisfied: defusedxml in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (0.6.0)
Requirement already satisfied: pygments>=2.4.1 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (2.8.0)
Requirement already satisfied: jupyterlab-pygments in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (0.1.2)
Requirement already satisfied: nest-asyncio in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (1.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from nbformat->jupyter-server>=1.1.2->jupyter-lsp) (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server>=1.1.2->jupyter-lsp) (0.17.3)
Requirement already satisfied: setuptools in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server>=1.1.2->jupyter-lsp) (53.0.0)
Requirement already satisfied: importlib-metadata in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server>=1.1.2->jupyter-lsp) (3.7.0)
Requirement already satisfied: attrs>=17.4.0 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server>=1.1.2->jupyter-lsp) (20.3.0)
Requirement already satisfied: packaging in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from bleach->nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (20.9)
Requirement already satisfied: webencodings in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from bleach->nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (0.5.1)
Requirement already satisfied: zipp>=0.5 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server>=1.1.2->jupyter-lsp) (3.4.0)
Requirement already satisfied: pyparsing>=2.0.2 in /apps/t3/sles12sp4/free/jupyterlab/3.0.9/gcc4.8.5/python3.6.5/lib/python3.6/site-packages (from packaging->bleach->nbconvert->jupyter-server>=1.1.2->jupyter-lsp) (2.4.7)

In [8]:
y_Data=train_data['Survived']

In [11]:
train_data = pd.read_csv("../input/titanic/train.csv")
# 特徴量
train_data= train_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
train_data=pd.get_dummies(train_data, columns=['Sex','Embarked'])
# null埋め
X_Data=train_data.fillna(train_data.median())

In [12]:
len(y_Data)

891

In [14]:
from sklearn.model_selection import KFold, cross_val_predict

In [15]:
from optuna.integration import lightgbm as lgb_tuna
import lightgbm as lgb
from lightgbm import LGBMRegressorC

In [ ]:
lgbm_reg=LGBMRegressor()
lgbm_reg.fit(train_X,train_Y)